body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: lightgray;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

#menu {
    position: absolute;
    top: 0;
    height: 100vh;
    background: white;
    padding: 0.5em 2em 0 1.0em;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-size: 1.2em;
    opacity: 0.7;
}

#menu li {
    margin: 0.1em 0;
    list-style: none;
    font-family: monospace;
    font-variant: all-small-caps;
    font-size: 1.3em;
    cursor: pointer;
    position: relative;
    display: block;
    margin-bottom: 0.2em;
    padding: 0.5em 0;
}

#menu li:hover {
    text-shadow: 2px 2px gray;
    left: -2px;
    top: -2px;
    color: lightgray;
}

#menu li.selected {
    font-weight: bold;
}

#menu-ctrl {
    position: absolute;
    left: 0.1em;
    bottom: 0.1em;
    display: block;
    font-size: 2.5em;
    color: #f5f5f5;
    text-shadow: 2px 2px #999;
    cursor: pointer;
    transform: translate(35%, 0) scaleX(1.4);
}

#menu.show {
    animation-name: menu-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#menu.hide {
    animation-name: menu-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes menu-anim {
    from {left: -100%}
    to {left: 0vw}
}